parameters:
    level: 8
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::setConnection\(\)#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::setDefaultConnection\(\)#'
    excludePaths:
        - vendor
        - node_modules
        - storage
        - bootstrap/cache
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
